@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
.navtext{
	padding:1%;
	font-size: 200%;
	background-color:#CA3A27;
	font-family: 'Knewave';
}
.poster{
	margin-top: 3%;
	margin-left:4% !important;
}
.marg{
	margin: 1% 0% !important;
	background-color: black;
}
.txt{
	text-align: justify;
	font-family: 'Knewave';
	font-size: 170%;
	color:#CA3A27;
	margin-top: 2% !important;
	margin-right: 1% !important;

}
.postern{
	background-color: black;
}
