html, body{
    height: 100%;
    background-color: burlywood;
    font-weight:bold;
}
.cont{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 85%;
    justify-content: center;
}
.cont2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
}
.rules{
    background-color: white;
    font-size: calc(5px + 2vw);
    width: 100%;
}
.mini{
    height: calc(10px + 5vw);
    width: calc(5px + 5vw);
}
.game{
    height: calc(80px + 12vw);
    width: calc(200px + 24vw);
    background-color: white;
    margin-top: 2%;
}
.cards{
    height: calc(30px + 10vw);
    width: calc(30px + 9vw);
    background-color: rgb(85, 30, 136);
    margin: 2%;
    display: inline-block;
}
.butn{
    height: auto;
    width: auto;
    padding: 1% 2%;
    background-color: rgb(155, 47, 182);
    font-size: calc(5px + 2vw);
    margin-top: 2%;
}
.score{
    font-size: calc(5px + 2vw);
    margin-top: 2%;
}
.tern{
    transform-style: preserve-3d;
    height: calc(30px + 10vw);
    width: calc(30px + 9vw);
    
}
#name{
    height: auto;
    width: auto;
    background-color: blueviolet;
    padding: 1% 3%;
    font-size: calc(5px + 2vw);
    margin-top: 1%;

}
.allside{
    position: absolute;
    height: calc(30px + 10vw);
    width: calc(30px + 9vw);
    text-align: center;
    backface-visibility: hidden;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.fSide{
    background-color: blueviolet;
}
.SSide{
    background-color: blueviolet;
    transform:rotateX(180deg);
}
.first{
    transition: 5s;
}
.second{
    transition: 8s;
}
.third{
    transition: 10s;
}
.imgs{
    height: calc(15px + 8vw);
     width: calc(15px + 8vw);
}
