html, body{
    height: 100%;
}
.cont{
    display: flex;
    align-items: center;
    flex-direction: column;
}
input{
    font-size:calc(10px + 1vw);
    width:calc(40% + 3vw)
}
.ball{
   width: 350px;
    margin-top:4%;
    height: 350px;
    text-align: center;
    background:radial-gradient(#8A0808, #2A0A0A);
    border-radius: 50%;
    box-shadow: 0px 1px 14px 13px #DF0101;
    position: relative;
    cursor:pointer;
    font-size: calc(15% + 3vw);
    display: flex;
    justify-content: center; 
    align-items: center; 
}
body{background-color:black; color:#c09669;font-size: calc(150% + 2vw);}
@keyframes shake{
    0% { transform: translate(5px, 3px) rotate(10deg); }
    10% { transform: translate(-3px, -5px) rotate(-6deg); }
    20% { transform: translate(-3px, 5px) rotate(10deg); }
    30% { transform: translate(3px, 5px) rotate(6deg); }
    40% { transform: translate(3px, -3px) rotate(6deg); }
    50% { transform: translate(-3px, 5px) rotate(-6deg); }
    60% { transform: translate(-3px, 3px) rotate(10deg); }
    70% { transform: translate(3px, 3px) rotate(-6deg); }
    80% { transform: translate(-3px, -3px) rotate(6deg); }
    90% { transform: translate(3px, 5px) rotate(10deg); }
    100% { transform: translate(3px, -5px) rotate(-6deg); }
}
@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 100%;}
}
.blinkcl{
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
.clshake{
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: 1; 
}
