html, body{
    height: 100%;
}
.valign{
    vertical-align: middle;
}
body{background-color:black; color:#c09669;font-size: calc(150% + 2vw);}
@keyframes shake{
    0% { transform: translate(5px, 3px) rotate(10deg); }
    10% { transform: translate(-3px, -5px) rotate(-6deg); }
    20% { transform: translate(-3px, 5px) rotate(10deg); }
    30% { transform: translate(3px, 5px) rotate(6deg); }
    40% { transform: translate(3px, -3px) rotate(6deg); }
    50% { transform: translate(-3px, 5px) rotate(-6deg); }
    60% { transform: translate(-3px, 3px) rotate(10deg); }
    70% { transform: translate(3px, 3px) rotate(-6deg); }
    80% { transform: translate(-3px, -3px) rotate(6deg); }
    90% { transform: translate(3px, 5px) rotate(10deg); }
    100% { transform: translate(3px, -5px) rotate(-6deg); }
}
@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 100%;}
}
.blinkcl{
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
.clshake{
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: 1; 
}
